*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --large-gap-size: 0.75vmin;
    --small-gap-size: calc(0.75 * var(--large-gap-size));

    --cell-size: 7vmin;
    --candidate-size: calc((var(--cell-size) - 2 * var(--small-gap-size)) / 3);
    --box-size: calc(3 * var(--cell-size) + 2 * var(--small-gap-size));
    --board-size: calc(3 * var(--box-size) + 4 * var(--large-gap-size));
    --config-size: calc(100vmin - 5vmin - var(--board-size));
    
    --cell-font-size: 5vmin;
    --candidate-font-size: 2vmin;

    --light-gray: #EEE;
    --gray: #AAA;
    --dark-gray: #444;

    --light-blue: rgb(150, 175, 255);
    --blue: rgb(50, 100, 255);
    --red: rgb(255, 100, 50);
    --green: rgb(50, 255, 100);
}

body{
    font-family: sans-serif;
}

h1{
    font-size: 3em;
    text-align: center;
    margin-bottom: 0;
    background-color: var(--light-blue);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-color: var(--dark-gray);
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width: var(--large-gap-size);
}

/* main{
    width: var(--board-size);
}

section{
} */
.container{
    display: flex;
    align-items: flex-start;
}

.sudoku-board{
    background-color: var(--dark-gray);
    display: grid;
    grid-template-rows: repeat(3, var(--box-size));
    grid-template-columns: repeat(3, var(--box-size));
    gap: var(--large-gap-size);
    padding: var(--large-gap-size);
    width: var(--board-size);
    height: var(--board-size);
}

.sudoku-box{
    background-color: var(--gray);
    display: grid;
    grid-template-rows: repeat(3, var(--cell-size));
    grid-template-columns: repeat(3, var(--cell-size));
    gap: var(--small-gap-size);
}

.sudoku-cell{
    background-color: var(--light-gray);
}

.sudoku-cell-set{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--cell-font-size);
    font-weight: bold;
}

.sudoku-cell-candidates{
    display: grid;
    grid-template-rows: repeat(3, var(--candidate-size));
    grid-template-columns: repeat(3, var(--candidate-size));
    border: var(--light-gray) solid var(--small-gap-size);
}

.sudoku-cell-candidate{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--candidate-font-size);
    font-weight: bold;
}

.sudoku-cell-candidate-removed{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--candidate-font-size);
    font-weight: bold;
    color: var(--red);
}

.sudoku-cell:focus, .sudoku-cell:focus-visible, .sudoku-cell:focus-within{
    border: var(--blue) solid var(--small-gap-size);
    background-color: var(--light-blue);
    outline: var(--blue);
}

/*
.sudoku-config{
    background-color: #EEE;
    border: #444 solid var(--large-gap-size);
    padding: var(--large-gap-size);
    width: var(--config-size);
}
*/